{% extends 'base.html.twig' %}

{% block title %}Communiquer avec un tiers (client, collaborateur...) et adapter son discours et sa langue à son interlocuteur{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/accueil">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/pour_en_savoir_plus">Pour en savoir plus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cv">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eportfolio">ePortfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/parcours">Parcours</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1> Communiquer avec un tiers (client, collaborateur...) et adapter son discours et sa langue à son interlocuteur </h1>

<div class="card-container">
  <div class="flip-card">

    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2>Preuves</h2>
      </div>

      <div class="flip-card-back">
        <ul>
        <li class="li_apprentissage">
        <img src="{{ asset('uploads/lettre_motivation.png') }}" alt:"lettre de motivation" style="width: auto; height:300px">
        </li>
        <li class="li_apprentissage">
        <h4>J'ai fait des écrits professionnelles comme les notes de services, les lettres de motivation et des mails</h4>
        </li>
        </ul>
      </div>
    </div>
    
  </div>

  <div class="flip-card">

    <div class="flip-card-inner">

      <div class="flip-card-front">
        <h2>Analyses réfléxives</h2>
      </div>

      <div class="flip-card-back">
        <ul>
        <li class="li_apprentissage">
        <h4>J'avais déjà des bases de communication dû à mon expérience personnelle. J'ai appris à respecter certainnes règle que je n'appliquais pas ou mal</h4>
        </li>
        </ul>
      </div>

    </div>

  </div>

  {% endblock %}

{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const cards = document.querySelectorAll('.flip-card');
      cards.forEach(card => {
        card.addEventListener('click', () => {
          const inner = card.querySelector('.flip-card-inner');
          inner.classList.toggle('flipped');
        });
      });
    });
  </script>
{% endblock %}