{% extends 'base.html.twig' %}

{% block title %}Pour en savoir plus{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/accueil">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/pour_en_savoir_plus">Pour en savoir plus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cv">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eportfolio">ePortfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/parcours">Parcours</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1>Informations Supplémentaires</h1>

<div class="card-container">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2>Passion</h2>
      </div>
      <div class="flip-card-back">
        <ul>
          <li><img src="{{ asset('uploads/cb_photo.jpg') }}" alt="cb" style="width: auto; height:230px"></li>
          <li><h4>Je suis secourisme à la Croix-Blanche</h4></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2>Projets</h2>
      </div>
      <div class="flip-card-back">
        <ul>
          <li><img src="{{ asset('uploads/pa_photo.jpg') }}" alt="pa" style="width: auto; height:230px"></li>
          <li><h4>Je souhaite rentrer dans la Marine Nationale</h4></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2>Loisirs</h2>
      </div>
      <div class="flip-card-back">
        <h3>Je fais de la musculation</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const cards = document.querySelectorAll('.flip-card');
      cards.forEach(card => {
        card.addEventListener('click', () => {
          const inner = card.querySelector('.flip-card-inner');
          inner.classList.toggle('flipped');
        });
      });
    });
  </script>
{% endblock %}
